<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/swiper.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("科锐科技有限公司", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("首页", "Index", "Home")</li>
                    <li>@Html.ActionLink("产品与服务", "About", "Home")</li>
                    <li>@Html.ActionLink("企业荣誉", "Contact", "Home")</li>
                    <li>@Html.ActionLink("企业展示", "About", "Home")</li>
                    <li>@Html.ActionLink("关于我们", "Contact", "Home")</li>
                    <li>@Html.ActionLink("联系我们", "Contact", "Home")</li>
                </ul>               
            </div>
        </div>
    </div>
    <div class="container body-content clearfix">
        @RenderBody()
        <div class="foot-nav-box wrap">
            <ul class="clearfix">
                <li>
                    <h4>走进我们</h4>
                    <p><a>企业简介</a></p>
                    <p><a>企业简介</a></p>
                </li>
                <li>
                    <h4>走进我们</h4>
                    <p><a>企业简介</a></p>
                    <p><a>企业简介</a></p>
                </li>
                <li>
                    <h4>走进我们</h4>
                    <p><a>企业简介</a></p>
                    <p><a>企业简介</a></p>
                </li>
                <li>
                    <h4>走进我们</h4>
                    <p><a>企业简介</a></p>
                    <p><a>企业简介</a></p>
                </li>
            </ul>
        </div>
        <footer>
            <p>Copyright © 2018 科润智能控制股份有限公司 All rights reserved. 技术支持：杭州哈博信息技术有限公司  浙ICP备11055228号   江山网警备案号：3308811146</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    @RenderSection("scripts", required: false)
</body>
</html>
